<div class="container" xmlns:th="http://www.thymeleaf.org">
		<div class="row justify-content-center align-items-center">
			<div class="card">
				<div class="card-body">
				
					<form th:object="${attendanceObj}" method="post">
						<div class="row  form-group">
							<label class="col-sm-3 control-label" for="groupNo"> グループ
								: </label> <input type="text" readonly class="col-sm-9 form-control"
								id="groupNo" th:field="*{employeeInfo.groupNo}" />
						</div>
						<div class="row  form-group">
							<label class="col-sm-3 control-label" for="name">名前 : </label> <input
								type="text" readonly class="col-sm-9 form-control" id="name"
								th:field="*{employeeInfo.name}" />
						</div>
						<div class="row  form-group">
							<label class="col-sm-3 control-label" for="attendanceDate">
								日付 : </label> <input type="text" readonly id="attendanceDate"
								class="col-sm-9 form-control" th:field="*{attendanceDate}" />
						</div>
						<div class="row form-group">
							<label class="col-sm-3 control-label" for="type"> 種類 : </label> 
							<input
								type="text" readonly class="col-sm-9 form-control" id="type"
								th:field="*{attendanceType}" />
						</div>
						<div class="row form-group">
							<label class="col-sm-3 control-label" for="confirm"> 承認 :　</label> 
							<input type="text" readonly
								class="col-sm-9 form-control" id="confirm"
								th:field="*{confirm}" />
						</div>
						<div class="row form-group">
							<label class="col-sm-3 control-label" for="onSiteContact">
								現場連絡 : </label> <input type="text" readonly
								class="col-sm-9 form-control" id="onSiteContact"
								th:field="*{onSiteContact}" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>